<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet" />
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body  class="bg-gradient-to-tl from-green-200 to-green-500 min-h-screen w-full">
    <%- include("header.ejs") %> 
    <div class="navbar">
      <a href="#">Home</a>
      <a href="#">Voter Registration</a>
      <a href="#">Candidate Registration</a>
      <a href="#">Election Results</a>
  </div>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <p class="py-2">Welcome to the To-Do Manager</p>
        <p class="py-2">New User? <a href="/signup" class="text-green-600"> Sign-up now </a> </p>
        <p class="py-2">Existing User? <a href="/login" class="text-green-600">Sign-in</a></p>
      </div>
    </div>
    <%- include("footer.ejs") %>
  </body>
</html>