<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <title><%= title %></title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="./css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="grid grid-cols-6">
          <div class="col-start-3 col-span-2">
            <h4 class="py-4">Already have a account? <a href="/login" class="text-green-600">Login</a></h4>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-red-100 my-3 list-none rounded px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <form action="/Admins" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="py-3">
                <label for="name">Name:</label>
                <input type="text" name="firstName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="email">Email:</label>
                <input type="email" name="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                    <label for="password">Password:</label>
                <input type="password" name="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                </div>
                <div class="py-3">
                <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Sign-up</button>
                </div>
            </form>
          </div>
        </div>




<!-- <div class="container">
    <div class="row justify-content-center">
    <div class="col-md-5">
     <div class="card">
       <h2 class="card-title text-center">Register <a href="http://opensnippets.com">open snippets</a></h2>
        <div class="card-body py-md-4">
         <form _lpchecked="1">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
        <input type="password" class="form-control" id="confirm-password" placeholder="confirm-password">
        </div>
        <div class="d-flex flex-row align-items-center justify-content-between">
        <a href="#">Login</a>
        <button class="btn btn-primary">Create Account</button>
        </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    </div> -->
</body>
</html>